* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body > div {
    display: flex;
}

a {
    margin: 1.5%;
    color: darkslategrey;
    font-size: medium;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    padding: 7.7px;
    border-radius: 50%;
}

i:hover {
    background-color: lightgray;
}

.top {
    width: 100vw;
    height: 5vh;
}

.left {
    padding: 0 1%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right {
    padding: 0 1%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.mid {
    width: 100vw;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid > div {
    margin: 0.5vh;
}

.search {
    width: 30%;
    height: 40px;
    min-width: 350px;
    border: 1px solid lightgrey;
    border-radius: 100px;
    background-color: white;
    display: grid;
    grid-template-columns: 0.5fr 7fr 0.5fr 0.6fr;
}

.search:hover {
    box-shadow: 1px 1px lightgray;
}

input {
    width: 100%;
    height: 95%;
    border: none;
}

input:focus {
    outline: none;
}

.suggest {
    display: flex;
    justify-content: center;
}

.suggest > input {
    margin: 0 5%;
    padding: 5%;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
}

.suggest > input:hover {
    border: 1px solid lightgray;
}

.space {
    height: 20vh;
}

.bot {
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    flex-direction: column;
    align-content: center;
}

.up {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    color: darkslategrey;
    font-size: larger;
}

.text {
    margin-left: 1.8%;
    font-size: medium;
}

.down {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 450px) {
    .top {
        display: none;
    }
    .space {
        display: none;
    }

    .bot {
        display: none;
    }
}